/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2003-2007 Sun Microsystems, Inc. All Rights Reserved.
 *
 * The contents of this file are subject to the terms of the Common 
 * Development and Distribution License ("CDDL")(the "License"). You 
 * may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the License at
 * https://open-dm-mi.dev.java.net/cddl.html
 * or open-dm-mi/bootstrap/legal/license.txt. See the License for the 
 * specific language governing permissions and limitations under the  
 * License.  
 *
 * When distributing the Covered Code, include this CDDL Header Notice 
 * in each file and include the License file at
 * open-dm-mi/bootstrap/legal/license.txt.
 * If applicable, add the following below this CDDL Header, with the 
 * fields enclosed by brackets [] replaced by your own identifying 
 * information: "Portions Copyrighted [year] [name of copyright owner]"
 */
body {
	margin: 2em;
	font-family: georgia,serif;
}

div#dateFieldMsg {
	font-size: 0.75em;
}
div#dateFieldMsg.error {
	color: red;
}
input#dateField.error {
	background-color: #FFC0CB;
}

fieldset {
	padding-bottom: 1em;
}
label { display: inline; }
#dayMask label { margin-right: 1em; }

#holidays table {
	font: 80%/1.5 "Lucida Grande", "Lucida Sans Unicode",verdana,lucida,arial,sans-serif;
	border-collapse: collapse;
	margin: 1em 0 2em;
	background: #e3e3e3;
}
#holidays th {
	border: 1px solid #666;
	color: #fff;
	background-color: #666;
	font-weight: normal;
}
#holidays td {
	border: 1px solid #666;
	padding: 0.5em 1em;
}
div.hide { display: none; }
div.show { display: block; }
