[SBYNTAG:DEFINE:objname,ejbname,warname]
<?xml version="1.0" encoding="UTF-8"?>
<application version="5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/application_5.xsd">
  <display-name>[sbyntag:objname]Application</display-name>
  <module>
    <ejb>[sbyntag:ejbname]</ejb>
  </module>
  <module>
    <web>
      <web-uri>[sbyntag:warname]</web-uri>
      <context-root>/[sbyntag:objname]MIDM</context-root>
    </web>
  </module>
</application>
