/* CSS for Manage section of MDWM */
.generalText {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:normal;
}
.generalTextBold {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:bold;
}
  
.MainBox {
    position: relative;
    border: 1px solid #D1C8A9;
    background-color: #f4f3ee;
}
.MainBox .TitleBar{
    height:24px;
    background-color: #6E828C;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
}

.MainBox .Content{
    background-color:#FEFEE4;
    padding-left:5px;
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
}

.MainBox .ImgBounce {
    padding:0;
    width:22px; height:14px;
    vertical-align:middle;
    position:relative;
    top:13px;
    left:15px;
}

.RecordsListing {
    background-color: #F9F9F0;
    border: 1px solid #6E828C;
}
.RecordsListing .header {
    background-color: #DDDDDD;
    text-align:left;
    height:24px;
}
.RecordsListing .header .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    padding-left:2px;
    background-color: #DDDDDD;
}
.RecordsListing tbody {
    background-color: #FFFFFF;
}
.RecordsListing tbody tr {
    height:24px;
    cursor:pointer;
}
.RecordsListing tbody tr td{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    border-bottom: 1px solid #F9F9F0;
    padding-left:2px;
}
.RecordsListing tbody tr td input {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    height:20px;
}


.RecordDetails .label {
    color:#829395;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold; 
}
.RecordDetails .data {
    color:#595a55;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold; 
}



.palleteButton { 
    cursor:pointer;
}
.button_spacing {
    padding-left:6px;
}

.RelationshipAttributes {
    border: 1px solid #a4936e;
    padding-bottom:5px;
}
.RelationshipAttributes .Heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#343535;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
}
.RelationshipAttributes .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:normal;
}

.HierarchyAttributes {
    border: 1px solid #a4936e;
    padding-bottom:5px;
}
.HierarchyAttributes .Heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#343535;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
}
.HierarchyAttributes .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:normal;
}

.DomainSearchResults {
    background-color: #F9F9F0;
    border: 1px solid #6E828C;
}
.DomainSearchResults .header {
    background-color: #DDDDDD;
    text-align:left;
    height:24px;
}
.DomainSearchResults .header .label {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:bold;
    padding-left:2px;
    background-color: #DDDDDD;
}
.DomainSearchResults tbody {
    background-color: #FFFFFF;
}
.DomainSearchResults tbody tr {
    height:22px;
}
.DomainSearchResults tbody tr td{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#343535;
    font-weight:normal;
    border-bottom: 1px solid #F9F9F0;
    padding-left:2px;
}

.selectedDataBox {
    padding:2px;
    padding-left:3px;
    background-color:#F9F7DE;
    height:24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:bold;
    border:1px solid #7F9DB9;        
}

.DomainSearchField {
    padding:0px;
}
.DomainSearchField .groupName {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#5A50F2;
    font-weight:bold;    
}
.DomainSearchField tr td {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:normal;    
}

.DetailsTitleBar{
    height:24px;
    background-color: #6E828C;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
}
