/* this is main cascading style sheets(css) for multidomain web application */

table.relationshiptypetable {
table-layout: auto;
caption-side: left;
border-collapse: collapse;
}

div#head {
position:absolute; 
top: 0px;
left: 0px; 
background-color: #F7FBFF;
background-image: url(../images/netgen-logo-sm2.png);
background-position: 20px 1px;
background-repeat: no-repeat; 
height: 40px; width:100%; 
padding:0px; 
border: none;
margin: 0;
}

.loginPrompt {
  font-size:13px;
}

.chooseLangPrompt {
  font-size:12px;
  position:relative;
  top: -10px;  
}
/* import from midm styles.css and need to redesign */
body {
  background-color:#F7FBFF;
  /*
  background-image: url(../images/login-backimage.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-position:center; 
  */
}

.mainContent {
  width:100%;
  overflow:auto;
  float:left;
}

.loginForm {
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color:#837F74;
  text-align:left;
  text-align:center;
  vertical-align:middle;       
  width:330px;
  height:370px;
  background-image:url(../images/netgen-login-box.png);
  background-repeat:no-repeat;
  font-weight:bold;
  vertical-align:middle;
  position:relative;
  top: 100px;
}

.loginForm  table {
  font-family:  Arial, Helvetica, sans-serif;
  width:230px;
  height:370px;
  font-size:15px;         
}

.loginForm  table td {
  font-family: Arial, Helvetica, sans-serif;
  background-repeat:no-repeat;      
  font-size:15px;
  padding-left:30px;
  color:#837F74;
  height:22px;  
}

.blueline {
  background-image:url(../images/bgline.gif);
  background-repeat: repeat-x; 
  position:relative;
  width:100%;
  padding-left:0px; 
  padding-top:0px; 
  padding-right:0px;
  padding-bottom:0px; 
}

a.button {
  background: transparent url('../images/bg_button_a.png') no-repeat scroll top right;
  color: #FFFFFF;
  display: block;
  float: left;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
}

a.button span {
  background: transparent url('../images/bg_button_span.png') no-repeat;
  display: block;
  color: #FFFFFF;
  line-height: 14px;
  padding: 5px 0 5px 18px;
}
a.button:active {
  background-position: bottom right;
  color: #FFFFFF;
  outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
  background-position: bottom left;
  padding: 6px 0 4px 18px; /* push text down 1px */
}

/* for header tabs */
a.navbutton {
	background: transparent url('../images/navigation-buttons_a1.png') no-repeat scroll top right;
        color: #40403E;
        text-decoration:none;
	display: block;
	float:left;
	height: 30px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	font-family:verdana, arial, sans-serif;
	font-size: 12px;
	font-style: normal;
        font-variant: normal;
        font-weight: bold;
}

a.navbutton span {
    background: transparent url('../images/navigation-buttons.png') no-repeat;
    display: block;
    color: #40403E;
    line-height: 20px;
    padding: 5px 0 5px 18px;
}

a.navbutton:active {
    background-position: bottom right;
    color: #0739B6;
    
}
a.navbutton:active span {
    background-position: bottom left;
    /*padding: 6px 0 4px 18px;*/ /* push text down 1px */
    padding: 5px 0 5px 18px; 
}

/**Selected Tabs in the header**/

a.navbuttonselected {
	background: transparent url('../images/navigation-buttons_a1.png') no-repeat scroll bottom right;
        color: #0739B6;
        text-decoration:none;
	display: block;
	float:left;
	height: 30px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	font-family: arial, sans-serif;
        font-family: "Lucida Sans Unicode", "Lucida Grande",Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
        font-variant: normal;
        font-weight: bold;
}
a.navbuttonselected span {
    background: transparent url('../images/navigation-buttons.png') no-repeat  bottom right;
    background-position: bottom left;
    display: block;
    color: #ffffff;
    line-height: 20px;
    padding: 5px 0 5px 18px;
}

a.navbuttonselected:active {
    background-position: bottom right;
    color: #0739B6;
    
}
a.navbuttonselected:active span {
    background-position: bottom left;
    /*padding: 6px 0 4px 18px;*/ /* push text down 1px */
    padding: 5px 0 5px 18px; 
}


a.logoutButton {
	background: transparent url('../images/masthead_button_span_a.png') no-repeat scroll top right;
        color: #40403E;
        text-decoration:none;
	display: block;
	float:right;
	height: 30px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	font-family: Verdana,arial, sans-serif;
	font-size: 12px;
	font-style: normal;
        font-variant: normal;
        font-weight: bold;
        text-align:center;
}

a.logoutButton span {
    background: transparent url('../images/masthead_button_span.png') no-repeat;
    display: block;
    color: #40403E;
    line-height: 12px;
    padding: 5px 0px 5px 10px;
}

a.logoutButton:active {
    background-position: bottom right;
    color: #0739B6;
    
}
a.logoutButton:active span {
    background-position: bottom left;
    /*padding: 6px 0 4px 18px;*/ /* push text down 1px */
    padding: 5px 0px 5px 10px; 
}	

.greetingsmall
{
	font-family: verdana, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#c4c8e1;
	padding-top:0px;
	padding-left:0px;
        text-decoration:none;
        vertical-align:middle;        
        text-align:right;
        width:150px;
        
}