body {
    font-family: Arial;
    font-size: 90%
}
h1.topTitle {
    color: white;
    background-color: navy;
    text-align: center;
}
p {
    text-align: justify;
}
li {
    text-align: justify;
}
blockquote.block {
    border: 1px outset black;
}
code.block {
    color: navy;
}