/* IPG Extensions */

div.embeddedtocpane {
      float: right;
      width: 200px;
      background-color: rgb(237,237,231);
      margin-bottom: 10px;
      margin-left: 15px;
      border: 1px solid rgb(189, 189, 204);
      padding: 3px;
}
      
.embeddedtocpane div.cornerBL{height:8px;background:url("generic_bl.gif") no-repeat bottom left;margin-top:5px}
.embeddedtocpane div.cornerBR{height:8px;background:url("generic_br.gif") no-repeat bottom right}
.embeddedtocpane div.cornerTL{height:8px;background:url("generic_tl.gif") no-repeat top left}
.embeddedtocpane div.cornerTR{height:8px;background:url("generic_tr.gif") no-repeat top right}

div.embeddedtocpane h5 {margin: 3px; position: relative; margin-bottom: 10px; margin-top:0px}
div.embeddedtocpane h5 span.tocpageleft {position: absolute; left: 0; width: 50%;}
div.embeddedtocpane h5 span.tocpageright {position: absolute; right: 0; width: 50%; text-align: right}
div.embeddedtocpane h5 span.toctitle {position: absolute; left: 0; width: 50%;}
div.embeddedtocpane h5 span.index {position: absolute; right: 2px; width: 50%; text-align: right}

div.embeddedtoc {margin: 2px; margin-top: 20px}
p.toc    {margin: 0px; padding-top: 2px; padding-bottom: 2px;}
p.level0 {padding-left:0px}
p.level1 {padding-left:10px}
p.level2 {padding-left:20px}
p.level3 {padding-left:30px}
p.level4 {padding-left:40px}
p.level5 {display: none;}
p.level6 {display: none;}
p.tocsp  {margin-top:6px}

div.onpage {background-color: rgb(224,228,232); padding-top: 6px; padding-bottom: 6px; }
div.onpage a {font-weight: bold; padding-top: 2px; padding-bottom: 2px; text-decoration: none}

a:link {text-decoration: none !important}
a:visited {text-decoration: none !important}

div.maincontent {margin-left: 5px}

div.subtitle{padding:0px 10px;font-weight:bold;font-size: 14px}
div.lastmodified{padding:0px 10px;font-weight:bold;}
div.abstract{padding:0px 10px}
div.indent{padding:0px 10px}

div.maincontent table {margin-top:15px; margin-bottom:15px; border-collapse: collapse; border: 1px solid black;}
div.maincontent th {padding: 4px; padding-bottom: 6px; border: thin solid}
div.maincontent th p {padding: 0px; margin: 0px}
div.maincontent td {padding: 4px; padding-bottom: 6px; border: thin solid}
div.maincontent td p:first-child {padding: 0px; margin: 0px}
div.maincontent td p {padding: 0px; margin-top: 6px; margin-bottom: 0px;}


div.indexdiv dd,dl {margin-left: 9px; margin-top: 0px}
img.figure {padding-bottom: 25px}

div.remark {font-weight: bold; color: red}
span.inlineremark {padding-left: 10px; padding-right: 10px; font-weight: bold; color: red}

div.maincontent pre, div.maincontent code, div.maincontent tt {color: black; font-family:Monaco,"Courier New",Courier}
div.maincontent a:visited tt {color:#917E9C; font-family:Monaco,"Courier New",Courier}
div.maincontent a:link tt  {color:#3E6B8A; font-family:Monaco,"Courier New",Courier}

span.added, span.added *{color: green; text-decoration: underline}
span.deleted, span.deleted *{color: red; text-decoration: line-through}

div.added, div.added *{color: green; text-decoration: underline}
div.deleted, div.deleted *{color: red; text-decoration: line-through}


div.BottomPageControlPane  {clear: both;}

table.pagecontrol {
	width: 100%;
	layout: fixed;
	margin-bottom: 5px;
	padding: 0px;
}


td.pageleft {
	width: 50%;
	text-align: left;
	padding-left: 10px;
}

td.pageright {
	width: 50%;
	text-align: right;
	padding-right: 10px;
}

.pageleft a,.pageright  a{color: #000000; font-weight: bold}


h1,h2,h3,h4,h5	{clear: none}
