
@import url("../dijit.css");

.mdwm { 
	font-size:12px;
	font-family: arial, verdana;
}

.mdwm .dijitSliderDisabled *,
.mdwm .dijitDisabledClickableRegion,	
.mdwm .dijitSpinnerDisabled *,
.mdwm .dijitButtonDisabled *,
.mdwm .dijitDropDownButtonDisabled *,
.mdwm .dijitComboButtonDisabled *,
.mdwm .dijitComboBoxDisabled *
{
	cursor: not-allowed !important;
}
.mdwm .dojoDndItemBefore {
	border-top: 2px solid #369;
}
.mdwm .dojoDndItemAfter {
	border-bottom: 2px solid #369;
}
.mdwm .dojoDndItemOver {
	cursor:pointer;
}
.mdwm table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.mdwm .dojoDndAvatar td	{ border: none; }
.mdwm .dojoDndAvatar tr	{ border: none; }
.mdwm .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.mdwm .dojoDndAvatarItem td { padding: 2px;}
.mdwm.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mdwm.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.mdwm.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.mdwm.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.mdwm .dijitContentPaneLoading {
	background:url(images/loading.gif) no-repeat left center;
	padding-left:25px;
}
.mdwm .dijitContentPaneError {
	background:url(images/warning.png) no-repeat left center;
	padding-left:25px;
}
.mdwm .dijitContentPane {
    padding: 0px;
}
.mdwm .dijitTabContainerTop-dijitContentPane,
.mdwm .dijitTabContainerLeft-dijitContentPane,
.mdwm .dijitTabContainerBottom-dijitContentPane,
.mdwm .dijitTabContainerRight-dijitContentPane,
.mdwm .dijitAccordionContainer-dijitContentPane {
    border: none;
    background-color: #F9F9F0;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;
}
.mdwm .dijitSplitContainer-dijitContentPane,
.mdwm .dijitBorderContainer-dijitContentPane {
    border: 1px #ccc solid;
    background-color: #fff;
    padding: 5px;
}
.mdwm .dijitTabPaneWrapper {
	background:#fff;
	border:1px solid #ccc;
	margin: 0;
	padding: 0;
}
.mdwm .dijitTab {
	line-height:normal;
	margin-right:4px;	
	padding:0px;
	border:1px solid #ccc;
	background:#e2e2e2 url(images/tabEnabled.png) repeat-x;
        font-weight:bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size:13px;
}
.mdwm .dijitTabInnerDiv {
	padding:6px 8px 5px 9px;
}
.dijitTabSpacer {
	font-size: 1px;
}
.mdwm .dijitTabChecked {
	
	background-color:#F9F9F0;
	border-color: #ccc;
	background-image:none;
}
.mdwm .dijitTabHover {
	color: #243C5F;
	border-top-color:#92a0b3;
	border-left-color:#92a0b3;
	border-right-color:#92a0b3;
	background:#e2e2e2 url(images/tabHover.gif) repeat-x;
}
.mdwm .dijitTabCheckedHover {
	color: inherit;
	border:1px solid #ccc;
	background:#F9F9F0;
}
.mdwm .dijitTab .dijitClosable .closeNode {
	
	display:-moz-inline-box;		
	display:inline-block;			
	#zoom: 1; 
	#display:inline; 
	vertical-align:top;
	width: 1em;
	height: 1em;
	padding: 0;
	margin: 0;
}
.mdwm .dijitTab .dijitClosable .closeImage {
	background: url(images/tabClose.png) no-repeat right top;
	width: 12px;
	height: 12px;
}
.mdwm .dijitTab .dijitTabButtonSpacer {
	height: 12px;
	width: 1px;
}
.dj_ie6 .dijitTab .dijitClosable .closeImage {
	background-image:url(images/tabClose.gif);
}
.mdwm .dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url(images/tabClose.png);
}
.dj_ie6 .mdwm .dijitTabCloseButton .dijitClosable .closeImage {
	background-image : url(images/tabClose.gif);
}
.mdwm .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url(images/tabCloseHover.png);
}
.dj_ie6 .mdwm .dijitTabCloseButtonHover .dijitClosable .closeImage {
	background-image : url(images/tabCloseHover.gif);
}
.mdwm .dijitTabContainerTop-tabs {
	margin-bottom: -1px;
	border-color: #ccc;
}
.mdwm .dijitTabContainerTop-container {
	border-top: none;
}
.mdwm .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color:#F9F9F0;
}
.mdwm .dijitTabContainerTopStrip {
	border: 1px solid #ccc;
	padding-top: 2px;
	padding-left: 3px;
}
.mdwm .dijitTabContainerTopStrip {
	background: #f2f2f2;
}
.mdwm .dijitTabContainerBottom-tabs {
	margin-top: -1px;
	border-color: #ccc;
}
.mdwm .dijitTabContainerBottom-container {
	border-bottom: none;
}
.mdwm .dijitTabContainerBottom-tabs .dijitTabChecked {
	border-top-color:white;
}
.mdwm .dijitTabContainerBottomStrip {
	padding-bottom: 2px;
	padding-left: 3px;	
	border: 1px solid #ccc;
}
.mdwm .dijitTabContainerBottomStrip {
	background: #f2f2f2;
}
.mdwm .dijitTabContainerBottom-spacer,
.mdwm .dijitTabContainerTop-spacer {
	height: 0px;
	border-top: 1px solid #ccc;
	background: #fff;
}
.mdwm .dijitTabContainerRight-tabs {
	margin-left: -1px;
	border-color: #ccc;
}
.mdwm .dijitTabContainerRight-container {
	border-right: none;
}
.mdwm .dijitTabContainerRight-tabs .dijitTabChecked {
	border-left-color:white;
}
.mdwm .dijitTabContainerRightStrip {
	padding-right: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.mdwm .dijitTabContainerRightStrip {
	background: #f2f2f2;
}
.mdwm .dijitTabContainerLeft-tabs {
	margin-right: -1px;
	border-color: #ccc;
}
.mdwm .dijitTabContainerLeft-container {
	border-left: none;
}
.mdwm .dijitTabContainerLeft-tabs .dijitTabChecked {
	border-right-color:white;
}
.mdwm .dijitTabContainerLeftStrip {
	padding-left: 2px;
	padding-top: 3px;	
	border: 1px solid #ccc;
}
.mdwm .dijitTabContainerLeftStrip {
	background: #f2f2f2;
}
.mdwm .dijitTabContainerLeft-tabs .dijitTab,
.mdwm .dijitTabContainerRight-tabs .dijitTab {
	margin-right:0px;
	margin-bottom:4px;	
}
.mdwm .dijitTabContainerLeft-spacer,
.mdwm .dijitTabContainerRight-spacer {
	width: 0px;
	border-left: 1px solid #ccc;
	background: #fff;
}
.mdwm .dijitTabContainerTop-dijitContentPane .dijitTabContainerTop-tabs {
	border-left: 0px solid #ccc;
	border-top: 0px solid #ccc;
	border-right: 0px solid #ccc;
	padding-top: 0px;
	padding-left: 0px;	
}
.mdwm .dijitAccordionContainer {
	border-color: #ccc;	
}
.mdwm .dijitTabContainer-dijitAccordionContainer {
    border: none;
}
.mdwm .dijitAccordionContainer-dijitAccordionContainer {
    border: none;
    background-color: #fff;
}
.mdwm .dijitSplitContainer-dijitAccordionContainer,
.mdwm .dijitBorderContainer-dijitAccordionContainer {
    border: 1px #ccc solid;
    background-color: #fff;
}
.mdwm .dijitAccordionPane {
	background-color: #e7e7e7;
}
.mdwm .dijitAccordionTitle {
	background:#fafafa url(images/titleBar.png) repeat-x bottom left;
	border-top: 1px solid #bfbfbf;
	padding: 4px 4px 4px 8px;
	cursor:pointer;
}
.mdwm .dijitAccordionTitle-hover  {
	background: #f8fafd url(images/accordionItemHover.gif) bottom repeat-x;
}
.mdwm .dijitAccordionTitle-selected  {
	background: #f9f9f9 url(images/accordionItemActive.gif) bottom repeat-x;
	font-weight: bold;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #bfbfbf;
	padding: 4px 4px 4px 8px;
	cursor: default;
}
.mdwm .dijitAccordionBody {
	background: #fff;
}
.mdwm .dijitSplitContainerSizerH {
	background:url(images/splitContainerSizerV.png) repeat-y #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	width:7px;
}
.mdwm .dijitSplitContainerSizerH .thumb {
	background:url(images/splitContainerSizerV-thumb.png) no-repeat #ccc;
	left:1px;
	width:3px;
	height:19px;
	overflow: hidden;
}
.mdwm .dijitSplitContainerSizerV {
	background:url(images/splitContainerSizerH.png) repeat-x #fff;
	border:0;
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	height:7px;
}
.mdwm .dijitSplitContainerSizerV .thumb {
	background:url(images/splitContainerSizerH-thumb.png) no-repeat #ccc;
	top:1px;
	width:19px;
	height:3px;
	overflow: hidden;
}
.mdwm .dijitSplitter {
	border-color: #bfbfbf;
}
.mdwm .dijitBorderContainer {
	background-color: #fcfcfc;
	padding: 5px;
}
.mdwm .dijitBorderContainer-dijitBorderContainer {
	border: none;
	padding: 0px;
}
.mdwm .dijitSplitterH,
.mdwm .dijitGutterH {
	background:#fcfcfc;
	border:0;
	height:5px;
}
.mdwm .dijitSplitterH .dijitSplitterThumb {
	background:url(images/splitContainerSizerH-thumb.png) no-repeat;
	top:1px;
	width:19px;
	height:2px;
}
.mdwm .dijitSplitterV,
.mdwm .dijitGutterV {
	background:#fcfcfc;
	border:0;
	width:5px;
}
.mdwm .dijitSplitterV .dijitSplitterThumb {
	background:url(images/splitContainerSizerV-thumb.png) no-repeat;
	left:1px;
	height:19px;
	width:5px;
}
.mdwm .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
.mdwm .dijitInputField INPUT,
.mdwm .dijitTextBox,
.mdwm .dijitComboBox,
.mdwm .dijitSpinner {
	margin: 0em 0.1em;
}
.mdwm .dijitTextBox,
.mdwm .dijitComboBox,
.mdwm .dijitSpinner,
.mdwm .dijitTextArea {
	font-family: sans-serif;
	font-size: 100%;
}
.mdwm .dijitTextArea {
	padding: 3px;
}
.mdwm .dijitTextBox,
.mdwm .dijitComboBox,
.mdwm .dijitSpinner,
.mdwm .dijitTextArea,
.mdwm .dijitInlineEditor input {
	
	background:#fff url(images/validationInputBg.png) repeat-x top left;
	#background:#fff url(images/validationInputBg.gif) repeat-x top left;
	border:1px solid #b3b3b3;
	line-height: normal;
}
.mdwm .dijitTextBoxDisabled,
.mdwm .dijitComboBoxDisabled,
.mdwm .dijitSpinnerDisabled,
.mdwm .dijitTextAreaDisabled {
	color: gray;
}
.dj_safari .mdwm .dijitTextBoxDisabled,
.dj_safari .mdwm .dijitComboBoxDisabled,
.dj_safari .mdwm .dijitSpinnerDisabled,
.dj_safari .mdwm .dijitTextAreaDisabled {
	color: #eee;
}
.mdwm .dijitComboBox .dijitInputField {
	padding: 1px 0;
}
.mdwm .dijitComboBox .dijitButtonNode {
	padding: 1px 0.2em;
}
.mdwm .dijitComboBox .dijitButtonNode,
.mdwm .dijitSpinner .dijitButtonNode {
	
	border-color: #9b9b9b;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
}
.mdwm .dijitTextBoxFocused,
.mdwm .dijitComboBoxFocused,
.mdwm .dijitSpinnerFocused,
.mdwm .dijitTextAreaFocused {
	
	border-color:#406b9b;
}
.mdwm .dijitComboBoxFocused .dijitButtonNode, .mdwm .dijitSpinnerFocused .dijitButtonNode {
	border-left-color:#366dba;
}
.mdwm .dijitSpinnerFocused .dijitDownArrowButton {
	border-top-color:#366dba;
}
.mdwm .dijitError {
	background-color:#f9f7ba;
	background-image:none;
}
.dj_ie6 .mdwm .dijitError INPUT {
	
	background-color:#f9f7ba !important;
}
.mdwm .dijitErrorFocused {
	background-color:#f9f999;
	background-image:none;
}
.dj_ie6 .mdwm .dijitErrorFocused INPUT {
	
	background-color:#f9f999 !important;
}
.mdwm .dijitValidationIcon {
	
	width: 16px;
	background: transparent url(images/warning.png) no-repeat center center;
}
.mdwm .dijitInlineValue {
	
	padding:3px;
	margin:4px;
}
.mdwm .dijitInlineEditor {
	
	display: inline-block;
	display: -moz-inline-stack;
	#display:inline;
	
}
.dijitInlineEditor .saveButton,
.dijitInlineEditor .cancelButton {
	margin:3px 3px 3px 0px;
}
.RichTextEditable {
	border:1px solid #bfbfbf;
	border-top:0;
}
.mdwm .dijitComboBoxHighlightMatch {
	background-color:#a5beda;
}
.mdwm .dijitFocusedLabel {
	
	outline: 1px dotted #666666;
}
.mdwm .dijitButtonNode {
	
	border: 1px solid #c0c0c0; 
	border-bottom: 1px solid #9b9b9b; 
	padding: 0.1em 0.2em 0.2em 0.2em; 
	background: #fff url(images/buttonEnabled.png) repeat-x bottom left;
}
.mdwm .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
} 
 
.mdwm .dijitButtonText {
	text-align: center; 
	padding: 0 0.3em;
}
.mdwm .dijitDisabled .dijitButtonText {
	color: #7F7F7F;
}
.mdwm .dijitArrowButton {
	color: #111;
}
.mdwm .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.dj_ff2 .mdwm .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .mdwm .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px solid transparent; 
}
.mdwm .dijitButtonDisabled .dijitButtonNode,
.mdwm .dijitToggleButtonDisabled .dijitButtonNode,
.mdwm .dijitDropDownButtonDisabled .dijitButtonNode,
.mdwm .dijitComboButtonDisabled .dijitButtonNode,
.mdwm .dijitComboBoxDisabled,
.mdwm .dijitSpinnerDisabled,
.mdwm .dijitSpinnerDisabled .dijitButtonNode {
	
	
	border-color: #d5d5d5 #d5d5d5 #bdbdbd #d5d5d5; 
	background:#e4e4e4 url(images/buttonDisabled.png) top repeat-x;
}
.mdwm .dijitButtonHover .dijitButtonNode,
.mdwm .dijitButtonNodeHover,
.mdwm .dijitToggleButtonHover .dijitButtonNode,
.mdwm .dijitDropDownButtonHover .dijitButtonNode,
.mdwm .dijitComboButtonHover .dijitButtonContents,
.mdwm .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.mdwm .dijitComboBoxHover .dijitDownArrowButton,
.mdwm .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.mdwm .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	
	
	border-color:		#a5beda; 
	border-bottom-color:#5c7590; 
	color:#243C5F;
	background:#fcfdff url(images/buttonHover.png) repeat-x bottom;
}
.mdwm .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.mdwm .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.mdwm .dijitButtonActive .dijitButtonNode,
.mdwm .dijitToggleButtonActive .dijitButtonNode,
.mdwm .dijitDropDownButtonActive .dijitButtonNode,
.mdwm .dijitComboButtonActive .dijitButtonContents,
.mdwm .dijitDownArrowActive .dijitDownArrowButton,
.mdwm .dijitComboBoxActive .dijitDownArrowButton {
	
	border-color:#366dba;
	background: #ededed url(images/buttonActive.png) bottom repeat-x;
}
.mdwm .dijitArrowButtonInner {
	background-image:url(images/spriteArrows.png);
	background-position: left top;
	width: 7px;
	height: 7px;
	font-size: 1px;
	margin: 0px 4px 0px 5px;
}
.dj_ie6 .mdwm .dijitArrowButtonInner {
	background-image:url(images/spriteArrows.gif);
}
.mdwm .dijitDisabled .dijitArrowButtonInner {
	background-position: -28px top;
}
.mdwm .dijitUpArrowButton .dijitArrowButtonInner { 
	background-position: -21px top; 
}
.mdwm .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner { 
	background-position: -49px top; 
}
.mdwm .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background-image: url(images/comboArrowDown.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	height: auto;
	font-size: 100%;
	font-size: inherit;
}
.mdwm .dijitComboBoxHover .dijitArrowButtonInner {
	
}
.mdwm .dijitSpinner .dijitArrowButtonInner {
	display: block;  
	position:absolute;
	top: 50%; 
	margin-top: -4px; 
	left: 50%;
	margin-left: -4px; 
	line-height: 2px;
}
.mdwm .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url(images/checkmarkNoBorder.png);
}
.dj_ie6 .mdwm .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url(images/checkmarkNoBorder.gif);
}
.mdwm .dijitCheckBox,
.mdwm .dijitCheckBoxIcon			{
	background-image: url(images/checkmark.png); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}
.dj_ie6 .mdwm .dijitCheckBox,
.dj_ie6 .mdwm .dijitCheckBoxIcon			{
	background-image: url(images/checkmark.gif); 
}
.mdwm .dijitCheckBox,
.mdwm .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.mdwm .dijitCheckBoxChecked,
.mdwm .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.mdwm .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.mdwm .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.mdwm .dijitCheckBoxHover {
	
	background-position: -80px;
}
.mdwm .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
.mdwm .dijitToggleButton .dijitRadio,
.mdwm .dijitToggleButton .dijitRadioIcon {
	background-image: url(images/checkmarkNoBorder.png);
}
.dj_ie6 .mdwm .dijitToggleButton .dijitRadio,
.dj_ie6 .mdwm .dijitToggleButton .dijitRadioIcon {
	background-image: url(images/checkmarkNoBorder.gif);
}
.mdwm .dijitRadio,
.mdwm .dijitRadioIcon	{		
	background-image: url(images/checkmark.png); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.dj_ie6 .mdwm .dijitRadio,
.dj_ie6 .mdwm .dijitRadioIcon	{		
	background-image: url(images/checkmark.gif); 
}
.mdwm .dijitRadio,
.mdwm .dijitToggleButton .dijitRadioIcon {
	
	background-position: -112px;
}
.mdwm .dijitRadioDisabled {
	
	background-position: -144px;
}
.mdwm .dijitRadioCheckedDisabled {
	
	background-position: -128px;
}
.mdwm .dijitRadioHover {
	
	background-position: -176px;
}
.mdwm .dijitRadioChecked,
.mdwm .dijitRadioCheckedHover,
.mdwm .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: -96px;
}
.mdwm .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFull.png) repeat-x top left;
}
.mdwm .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFullVertical.png) repeat-y bottom left;
}
.mdwm .dijitSliderFocused .dijitSliderProgressBarH,
.mdwm .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url(images/sliderFullFocus.png);
}
.mdwm .dijitSliderFocused .dijitSliderProgressBarV,
.mdwm .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url(images/sliderFullVerticalFocus.png);
}
.mdwm .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url(images/sliderEmptyVertical.png) repeat-y bottom left;
}
.mdwm .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url(images/sliderEmpty.png) repeat-x top left;
}
.mdwm .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.mdwm .dijitSliderFocused .dijitSliderBar {
	border-color:#888;	
}
.dijit_a11y .dijitSliderProgressBar {
	background-color:#888 !important;
}
.mdwm .dijitSliderImageHandleH {
	border:0px;
	width:16px;
	height:16px;
	background:url(images/preciseSliderThumb.png) no-repeat center top;
	cursor:pointer;
}
.mdwm .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url(images/preciseSliderThumbFocus.png);
	#background-image:url(images/preciseSliderThumbFocus.gif);
}
.dj_ie6 .mdwm .dijitSliderImageHandleH {
	background-image:url(images/preciseSliderThumb.gif);
}
.mdwm .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFull.png) repeat-x top left;
}
.mdwm .dijitSliderRightBumper {
	background: #dcdcdc url(images/sliderEmpty.png) repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.mdwm .dijitSliderImageHandleV {
	border:0px;
	width:16px;
	height:16px;
	background:url(images/sliderThumb.png) no-repeat center center;
	cursor:pointer;
}
.mdwm .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url(images/sliderThumbFocus.png);
}
.dj_ie6 .mdwm .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url(images/sliderThumbFocus.gif);
}
.mdwm .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url(images/sliderFullVertical.png) repeat-y bottom left;
}
.mdwm .dijitSliderTopBumper {
	background: #dcdcdc url(images/sliderEmptyVertical.png) repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.mdwm .dijitSliderDecrementIconH,
.mdwm .dijitSliderDecrementIconV,
.mdwm .dijitSliderIncrementIconH,
.mdwm .dijitSliderIncrementIconV {
	cursor: pointer;
	background-image: url(images/spriteArrows.png);
	background-repeat: no-repeat;
	margin: 5px;
	height: 7px;
	width: 7px;
	font-size: 1px;
}
.dj_ie6 .mdwm .dijitSliderDecrementIconH,
.dj_ie6 .mdwm .dijitSliderDecrementIconV,
.dj_ie6 .mdwm .dijitSliderIncrementIconH,
.dj_ie6 .mdwm .dijitSliderIncrementIconV {
	background-image: url(images/spriteArrows.gif);
}
.mdwm .dijitSliderDecrementIconH {
	background-position: -7px 0px;
}
.mdwm .dijitSliderIncrementIconH {
	background-position: -14px 0px;
}
.mdwm .dijitSliderDecrementIconV {
	background-position: 0px 0px;
}
.mdwm .dijitSliderIncrementIconV {
	background-position: -21px 0px;
}
.mdwm .dijitSliderButtonInner {
	visibility:hidden;
}
.mdwm .dijitSliderDisabled {
	opacity:0.6 !important;
}
.dj_ie6 .mdwm .dijitSliderDisabled,
.dj_ie6 .mdwm .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .mdwm .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .mdwm .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}
.mdwm .dijitSliderDisabled * {
	cursor: not-allowed !important;
}
.mdwm .dijitTreeNode {
    background-image : url(images/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
	padding-top:2px;
    color:#000000;
    zoom: 1;	
}
.mdwm .dijitTreeIsLast {
    background: url(images/i_half.gif) no-repeat;
}
.mdwm .dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}
.mdwm .dijitTreeExpando {
    width: 18px;
    height: 18px;
}
.mdwm .dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
 }
.mdwm .dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat : no-repeat;
}
.mdwm .dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}
.mdwm .dijitTreeLabelFocused {
	outline: 1px invert dotted;
	background:#456BC8;
	padding:2px;
	color:#ffffff;
	border:1px solid #A2B5E3;
}
.mdwm .dijitTreeNodeHover {
	text-decoration:underline;
}
.mdwm .dijitTreeExpandoOpened {
	background-image: url(images/treeExpand_minus.gif);
}
.mdwm .dijitTreeExpandoClosed {
	background-image: url(images/treeExpand_plus.gif);
}
.mdwm .dijitTreeExpandoLeaf {
	background-image: url(images/treeExpand_leaf.gif);
}
.mdwm .dijitTreeExpandoLoading {
	background-image: url(images/treeExpand_loading.gif);
}
.mdwm .dijitTreeIcon {
	width: 16px;
	height: 16px;
}


.mdwm .dijitFolderOpened {
	background: url(images/folderOpened.gif) no-repeat;
}
.mdwm .dijitFolderClosed {
	background: url(images/folderClosed.gif) no-repeat;
}
.mdwm .dijitLeaf {
	background: url(images/leaf.gif) no-repeat;
}
.mdwm .domainIcon {
	background: url('images/domain_icon.png') no-repeat;
}
.mdwm .hierarchyIcon {
    background: url('images/hierarchy.png') no-repeat;
}
.mdwm .relationshipOneDirectionIcon {
	background: url('images/relationship-right.png') no-repeat;
}
.mdwm .relationshipBiDirectionIcon {
	background: url('images/relationship-both.png') no-repeat;
}
.mdwm .recordIcon {
	background: url('images/document_icon.png') no-repeat;
}

.mdwm .dijitProgressBar {
	margin:2px 0px 2px 0px;
}
.mdwm .dijitProgressBarEmpty {
	
	background:#fff url(images/progressBarEmpty.png) repeat-x center center;
	border-color: #a2a2a2 #b8b8b8 #b8b8b8 #a2a2a2;
}
.mdwm .dijitProgressBarTile {
	
	background:#f0f0f0 url(images/progressBarFull.png) repeat-x center center;
}
.mdwm .dijitProgressBarFull {
	border-right:1px solid #b8b8b8;
}
.mdwm .dijitProgressBarLabel {
	
	color:#293a4b;
}
.mdwm .dijitProgressBarIndeterminate .dijitProgressBarTile {
	
	background:#cad2de url(images/progressBarAnim.gif) repeat-x center center;
}
.mdwm .dijitTitlePane .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url(images/titleBar.png) repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:3px 4px;
	cursor: pointer;
}
.mdwm .dijitTitlePaneTitle * {
	vertical-align: middle;
}
.mdwm .dijitTitlePane .dijitArrowNode {
	cursor: pointer;
	background-image: url(images/spriteArrows.png);
	background-repeat: no-repeat;
	height: 7px;
	width: 7px;
}
.dj_ie6 .mdwm .dijitTitlePane .dijitArrowNode {
	background-image: url(images/spriteArrows.gif);
}
.mdwm .dijitTitlePane .dijitOpen .dijitArrowNode {
	background-position: 0px 0px;
}
.mdwm .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: -14px 0px;
}
.mdwm .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	text-decoration:underline;
}
.mdwm .dijitTitlePane .dijitArrowNodeInner {
	display:none;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	display:inline !important;
	font-family:monospace;
	cursor: pointer;
	padding-bottom:.2em;
}
.dijit_a11y .dijitTitlePane .dijitArrowNode {
	display:none;
}
.mdwm .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:0px solid #bfbfbf;
	border-top: 1px solid #ccc;	
}
.mdwm .dijitTitlePaneContentInner {
	padding:0px;
}
.dj_ie6 .mdwm .dijitTitlePaneContentOuter,
.dj_ie6 .mdwm .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}
.mdwm .dijitTitlePaneTextNode {
	margin-left: 4px;
	margin-right: 4px;
}
	
.mdwm .dijitCalendarIncrementControl {
	
	width:15px;
	height:15px;
	background-image: url(images/spriteRoundedIconsSmall.png);
	background-repeat: no-repeat
}
.dj_ie6 .mdwm .dijitCalendarIncrementControl {
	font-size:.1em;
	background-image: url(images/spriteRoundedIconsSmall.gif);
}
.mdwm .dijitCalendarIncreaseInner,
.mdwm .dijitCalendarDecreaseInner {
	visibility:hidden;
}
.mdwm .dijitCalendarDecrease {
	background-position: top left;
}
.mdwm .dijitCalendarIncrease {
	background-position: -30px top;
}
.mdwm table.dijitCalendarContainer {
	font-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: 1px solid #ccc;
	margin: 0;
}
.mdwm .dijitCalendarMonthContainer th {
	
	background:#d3d3d3 url(images/titleBar.png) repeat-x top;
	padding-top:.3em;
	padding-bottom:.2em;
	text-align:center;
}
.dj_ie6 .mdwm .dijitCalendarMonthContainer th {
	padding-top:.2em;
	padding-bottom:.1em;
}
.mdwm .dijitCalendarDayLabelTemplate {
	
	background:white url(images/calendarDayLabel.png) repeat-x bottom;
	font-weight:normal;
	padding-top:.15em;
	padding-bottom:0em;
	border-top: 1px solid #eeeeee;
	color:#293a4b;
	text-align:center;
}
.mdwm .dijitCalendarBodyContainer {
	border-bottom: 1px solid #eeeeee;	
}
.mdwm .dijitCalendarMonthLabel {
	color:#293a4b;
	font-weight: bold;
}
.mdwm .dijitCalendarDateTemplate {
	
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	padding: 0.3em 0.3em 0.05em 0.3em;
	letter-spacing: 1px;
}
.dj_ie .mdwm .dijitCalendarDateTemplate {
	padding: 0.1em .33em 0.02em .33em;
}
.mdwm .dijitCalendarPreviousMonth,
.mdwm .dijitCalendarNextMonth 		{
	
	color:#999999;
	background-color:#f8f8f8 !important;
}
.mdwm .dijitCalendarPreviousMonthDisabled,
.mdwm .dijitCalendarNextMonthDisabled	{
	
	background-color:#a4a5a6 !important;
}
.mdwm .dijitCalendarCurrentMonth {
	
	background-color:white !important;
}
.mdwm .dijitCalendarCurrentMonthDisabled {
		
	background-color:#bbbbbc !important;
}
.mdwm .dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.mdwm .dijitCalendarCurrentDate {
	
	text-decoration:underline;
	font-weight:bold;
}
.mdwm .dijitCalendarHoveredDate {
	background-color: #e2ebf2 !important;
}
.mdwm .dijitCalendarSelectedDate {
	
	background-color:#bbc4d0 !important;
	color:black !important;
}
.mdwm .dijitCalendarYearContainer {
	
	background:white url(images/calendarYearLabel.png) repeat-x bottom;
	border-top:1px solid #ccc;
}
.mdwm .dijitCalendarYearLabel {
	
	margin:0;
	padding:0.4em 0 0.25em 0;
	text-align:center;
}
.mdwm .dijitCalendarSelectedYear {
	
	color:black;
	padding:0.2em;
	padding-bottom:0.1em;
	background-color:#bbc4d0 !important;
}
.mdwm .dijitCalendarNextYear,
.mdwm .dijitCalendarPreviousYear {
	
	color:black !important;
	font-weight:normal;
}
.mdwm .dijitTimePickerTick,
.mdwm .dijitTimePickerMarker {
	border-color: #ccc;
}
.mdwm .dijitTimePickerTick {
	color:white;
}
.mdwm .dijitTimePickerMarker {
	background:#d3d3d3 url(images/titleBar.png) repeat-x top;
	color:#293a4b;
	font-weight: bold;
}
.mdwm .dijitTimePickerItemSelected {
	color: black;
	background: #bbc4d0 none;
}
.mdwm .dijitTimePickerItemHover {
	background: #60a1ea none;
	color:white;
}
.mdwm .dijitTimePickerItemHover,
.mdwm .dijitTimePickerItemSelected {
	position: relative;
	z-index: 10;
}
.mdwm .dijitTimePickerTick .dijitTimePickerItemInner {
	font-size:0.4em;
}
.mdwm .dijitTimePickerItemHover .dijitTimePickerItemInner,
.mdwm .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	font-size:1em;
}
.mdwm .dijitTimePickerMarkerHover {
	border-top: 1px solid #ccc;
}
.mdwm .dijitTimePickerTickHover,
.mdwm .dijitTimePickerTickSelected {
	margin-top:-0.3em;
	margin-bottom:-0.3em;
	border-bottom: none;
}
.dijit_a11y .dijitTimePickerTickHover {
	background-color: #CCC !important;
	border-top: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important;
}
.dijit_a11y .dijitTimePickerMarkerHover {
	border-bottom-width: 2px;
}
.mdwm .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url(images/titleBar.png) repeat-x top left;
}
.dj_ie6 .mdwm .dijitToolbar {
	height: 10px;
}
.mdwm .dijitToolbar .dijitButtonNode,
.mdwm .dijitToolbar .dijitComboButton .dijitButtonContents,
.mdwm .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.mdwm .dijitToolbar .dijitButton,
.mdwm .dijitToolbar .dijitToggleButton,
.mdwm .dijitToolbar .dijitDropDownButton,
.mdwm .dijitToolbar .dijitComboButton .dijitButtonContents,
.mdwm .dijitToolbar .dijitComboButton .dijitDownArrowButton  {
	background: none;
	padding: 1px;
}
.mdwm .dijitToolbar .dijitButtonChecked,
.mdwm .dijitToolbar .dijitToggleButtonChecked {
	background-color:#d4dff2;
	border:1px solid #316ac5;
	padding: 0px;	
}
.mdwm .dijitToolbar .dijitButtonCheckedHover,
.mdwm .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#abc1e5;
	border:1px solid #316ac5;
	padding: 0px;	
}
.mdwm .dijitToolbar .dijitButtonHover,
.mdwm .dijitToolbar .dijitToggleButtonHover,
.mdwm .dijitToolbar .dijitDropDownButtonHover,
.mdwm .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.mdwm .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	
	border: 1px solid #869cbf;
	padding: 0px;	
	background-color:#e1e5f0;
}
.mdwm .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
.dj_ie .mdwm .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .mdwm .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .mdwm .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .mdwm .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #555 dotted !important;
	padding: 0px;	
}
.mdwm .dijitDialog {
	background: #fff;
	border: 1px solid #7eabcd;
	
	padding: 0px;
	-webkit-box-shadow: 0px 5px 10px #adadad;
}
.mdwm .dijitDialog .dijitDialogTitle {
	border-top: none;
	border-left: none;
	border-right: none;
       
}
.mdwm .dijitDialog .dijitDialogPaneContent {
	background: #F9F9F0;
	border:none;
	border-top: 1px solid #d3d3d3; 
	padding-left:1px;
        padding-right:1px;
        padding-top:1px;
        padding-bottom:1px;
}
.mdwm .dijitDialogTitleBar {
	
	background: #fafafa url(images/dialog_titleBar.png) repeat-x top left;
        padding-left:5px;
        padding-right:6px;
        padding-top:0px;
        padding-bottom:0px;
	cursor: move;
	outline:0; 
        height:24px;
}
.mdwm .dijitDialogTitle {
	
       font-family: Arial, Helvetica, sans-serif;
       color:#FFFFFF;
       font-size:14px;
	font-weight: bold;
	padding: 4px;
	outline:0;
}
.mdwm .dijitDialogCloseIcon {
	
	
	background: url(images/tabClose.png) no-repeat right top;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie .mdwm .dijitDialogCloseIcon {
	background : url(images/tabClose.gif) no-repeat right top;
}
.mdwm .dijitDialogContent {
	
	padding: 8px;
}
.mdwm .dijitTooltip,
.mdwm .dijitTooltipDialog {
	
	background: transparent;	
}
.dijitTooltipBelow {
	
	padding-top: 13px;
}
.dijitTooltipAbove {
	
	padding-bottom: 13px;
}
.mdwm .dijitTooltipContainer {
	
	background: #ffffff url(images/popupMenuBg.gif) repeat-x bottom left;
	border: 1px solid #7eabcd;
	padding: 0.45em;	
	-webkit-border-radius: 3px;
}
.dj_ff3 .mdwm .dijitTooltipContainer {
	
	-moz-border-radius: 3px;
}	
.mdwm .dijitTooltipConnector {
	
	border:0px;
	z-index: 2;
}
.mdwm .dijitTooltipABRight .dijitTooltipConnector {
	
	left: auto !important;
	right: 3px;
}
.mdwm .dijitTooltipBelow .dijitTooltipConnector {
	
	top: 0px;
	left: 3px;
	background:url(images/tooltipConnectorUp.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie .mdwm .dijitTooltipBelow .dijitTooltipConnector {
	
	background-image: url(images/tooltipConnectorUp.gif);
}
.mdwm .dijitTooltipAbove .dijitTooltipConnector {
	
	bottom: 0px;
	left: 3px;
	background:url(images/tooltipConnectorDown.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie .mdwm .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorDown.gif);
}
.dj_ie6 .mdwm .dijitTooltipAbove .dijitTooltipConnector {
	bottom: -3px;
}
.mdwm .dijitTooltipLeft {
	padding-right: 14px;
}
.dj_ie .mdwm .dijitTooltipLeft {
	padding-left: 15px;
}
.mdwm .dijitTooltipLeft .dijitTooltipConnector {
	
	right: 0px;
	bottom: 3px;
	background:url(images/tooltipConnectorRight.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie .mdwm .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorRight.gif);
}
.mdwm .dijitTooltipRight {
	padding-left: 14px;
}
.mdwm .dijitTooltipRight .dijitTooltipConnector {
	
	left: 0px;
	bottom: 3px;
	background:url(images/tooltipConnectorLeft.png) no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie .mdwm .dijitTooltipRight .dijitTooltipConnector {
	background-image: url(images/tooltipConnectorLeft.gif);
}
.dj_safari .mdwm .dijitPopup .dijitTooltipContainer,
.dj_safari .mdwm .dijitPopup .dijitMenu {
	
	-webkit-box-shadow: 0px 5px 10px #adadad;
}
.mdwm .dijitMenu {
	border: 1px solid #7eabcd;
	margin: 0px;
	padding: 0px;
}
.mdwm .dijitMenuItem {
	background-color: #f7f7f7;
	font-family: sans-serif;
	margin: 0;
}
.mdwm .dijitMenuPreviousButton, .mdwm .dijitMenuNextButton {
	font-style: italic;
}
.mdwm .dijitMenuItem td {
	padding:2px;
}
.mdwm .dijitMenuItemHover {
	background-color: #3559ac;
	color:#fff;
}
.mdwm .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}
.mdwm .dijitMenuExpand {
	width: 7px;
	height: 7px;
	background-image: url(images/spriteArrows.png);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	font-size: 1px;
	display: block;
}
.dj_ie6 .mdwm .dijitMenuExpand {
	background-image: url(images/spriteArrows.gif);
}
.mdwm .dijitMenuSeparator {
	background-color: #f7f7f7;
}
.mdwm .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}
.mdwm .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}
.mdwm .dijitCheckedMenuItemIconChar {
	display: none;
}
.mdwm .dijitCheckedMenuItemIcon {
	background-image: url(images/checkmark.png);
	background-position: -16px;
}
.dj_ie6 .mdwm .dijitCheckedMenuItemIcon {
	background-image: url(images/checkmark.gif);
}
.mdwm .dijitCheckedMenuItemIconChecked {
	background-position: 0px;
}
.mdwm .dijitMenuItemHover .dijitCheckedMenuItemIcon {
	background-position: -80px;
}
.mdwm .dijitMenuItemHover .dijitCheckedMenuItemIconChecked {
	background-position: -64px;
}
.dijitIEFixedToolbar {
	position:absolute;
	
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
.mdwm .dijitToolbar .dijitToolbarSeparator {
	background: url(images/editor.gif);
}
.mdwm .dijitEditorIcon {
	background-image: url(images/editor.gif); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.mdwm .dijitDisabled .dijitEditorIcon {
	background-image: url(images/editorDisabled.gif); 
}
.mdwm .dijitEditorIconSep { background-position: 0px; }
.mdwm .dijitEditorIconBackColor { background-position: -18px; }
.mdwm .dijitEditorIconBold { background-position: -36px; }
.mdwm .dijitEditorIconCancel { background-position: -54px; }
.mdwm .dijitEditorIconCopy { background-position: -72px; }
.mdwm .dijitEditorIconCreateLink { background-position: -90px; }
.mdwm .dijitEditorIconCut { background-position: -108px; }
.mdwm .dijitEditorIconDelete { background-position: -126px; }
.mdwm .dijitEditorIconForeColor { background-position: -144px; }
.mdwm .dijitEditorIconHiliteColor { background-position: -162px; }
.mdwm .dijitEditorIconIndent { background-position: -180px; }
.mdwm .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.mdwm .dijitEditorIconInsertImage { background-position: -216px; }
.mdwm .dijitEditorIconInsertOrderedList { background-position: -234px; }
.mdwm .dijitEditorIconInsertTable { background-position: -252px; }
.mdwm .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.mdwm .dijitEditorIconItalic { background-position: -288px; }
.mdwm .dijitEditorIconJustifyCenter { background-position: -306px; }
.mdwm .dijitEditorIconJustifyFull { background-position: -324px; }
.mdwm .dijitEditorIconJustifyLeft { background-position: -342px; }
.mdwm .dijitEditorIconJustifyRight { background-position: -360px; }
.mdwm .dijitEditorIconLeftToRight { background-position: -378px; }
.mdwm .dijitEditorIconListBulletIndent { background-position: -396px; }
.mdwm .dijitEditorIconListBulletOutdent { background-position: -414px; }
.mdwm .dijitEditorIconListNumIndent { background-position: -432px; }
.mdwm .dijitEditorIconListNumOutdent { background-position: -450px; }
.mdwm .dijitEditorIconOutdent { background-position: -468px; }
.mdwm .dijitEditorIconPaste { background-position: -486px; }
.mdwm .dijitEditorIconRedo { background-position: -504px; }
.mdwm .dijitEditorIconRemoveFormat { background-position: -522px; }
.mdwm .dijitEditorIconRightToLeft { background-position: -540px; }
.mdwm .dijitEditorIconSave { background-position: -558px; }
.mdwm .dijitEditorIconSpace { background-position: -576px; }
.mdwm .dijitEditorIconStrikethrough { background-position: -594px; }
.mdwm .dijitEditorIconSubscript { background-position: -612px; }
.mdwm .dijitEditorIconSuperscript { background-position: -630px; }
.mdwm .dijitEditorIconUnderline { background-position: -648px; }
.mdwm .dijitEditorIconUndo { background-position: -666px; }
.mdwm .dijitEditorIconWikiword { background-position: -684px; }
.mdwm .dijitEditorIconToggleDir { background-position: -540px; }
.mdwm .dijitEditorIconTabIndent { background-position: -702px; }
.mdwm .dijitEditorIconSelectAll { background-position: -720px; }
.mdwm .dijitEditorIconUnlink { background-position: -738px; }
.dijitColorPalette {
	border:1px solid #7eabcd;
	background:#fff;
	-moz-border-radius: 0px !important;
}
.dj_gecko-rtl .dijitInputField {
	direction: ltr; 
}
.dj_gecko-rtl .dijitInputField * {
	direction: rtl; 
}
.dijitRtl .dijitMenuItem {
	text-align: right;
}
.dijitRtl .dijitComboBox .dijitInputField {
	border-right-width:1px !important;
	border-left-width:0 !important;
}
.dijitRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}
.dijitRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}
.dijitRtl .dijitProgressBarFull .dijitProgressBarLabel {
	right:0; 
}
.dijitRtl .dijitA11ySideArrow {
	margin-left:1em;
	margin-right:0;
}
.dijitRtl .dijitSliderImageHandleV {
	left:auto;
	right:-6px;
}
.dj_ie-rtl .dijitSliderImageHandleV {
	right:-10px;
}
.dijitRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}
.dijitRtl .dijitRuleContainerV {
	float:right;
}
.dj_gecko-rtl .dijitRuleContainerV {
	float:left;
}
.dj_ie-rtl .dijitRuleContainerV {
	text-align:right;
}
.dj_ie-rtl .dijitRuleLabelV {
	text-align:left;
}
.dj_ie-rtl .dijitRuleLabelH {
	zoom:1;
}
.dj_ie-rtl .dijitSliderProgressBarH {
	right:0;
	left:auto;
}
.dj_gecko-rtl .dijitSliderProgressBarH {
	float:right;
	right:0;
	left:auto;
}
.dijitRtl .dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	right: auto;
	left: 0;
	border-width: 0 1px 0 0 !important;
}
.dijitRtl .dijitSpinnerButtonContainer {
	float: left;
}
.dijitRtl .dijit_a11y .dijitSpinnerButtonContainer {
	margin-left: none;
	margin-right: 2px;
}
.dijitRtl DIV.dijitArrowButton, .dijitRtl .dijitValidationIcon, .dijitRtl .dijitValidationIconText {
	float: left;
}
.dijitRtl .dijitContentPaneLoading, .dijitRtl .dijitContentPaneError {
	background-position:right;
	padding-right:25px;
}
.dijitRtl .mdwm .dijitCalendarDecrease {
	background-position: -30px top;
}
.dijitRtl .mdwm .dijitCalendarIncrease {
	background-position: 0px top;
}
.dijitRtl .mdwm .dijitDialogTitleBar .dijitDialogCloseIcon {
	right: auto;
	left: 5px;
}
.dijitRtl .mdwm .dijitEditorIcon {
	background-image: url(images/editor_rtl.gif); 
}
.dijitRtl .mdwm .dijitDisabled .dijitEditorIcon {
	background-image: url(images/editorDisabled_rtl.gif); 
}
.dijitRtl .mdwm .dijitToolbar .dijitToolbarSeparator {
	background-image: url(images/editor_rtl.gif);
}
.dijitRtl .mdwm .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}
.dijitRtl .mdwm .dijitMenuItem .dijitMenuExpand {
	background-position: -7px 0px;
}
.dijitRtl .mdwm .dijitTreeContainer .dijitTreeNode {
    background-image : url(images/i_rtl.gif);
    background-position : top right;
    margin-left: auto;
    margin-right: 19px;
}
.dijitRtl .mdwm .dijitTreeContainer .dijitTreeIsRoot {
	margin-left: auto;
    margin-right: 0;
    background-image: none;
}
.dijitRtl .mdwm .dijitTreeContainer .dijitTreeIsLast {
    background-image: url(images/i_half_rtl.gif);
}
.dijitRtl .mdwm .dijitTreeContainer .dijitTreeExpandoOpened {
	background-image: url(images/treeExpand_minus_rtl.gif);
}
.dijitRtl .mdwm .dijitTreeContainer .dijitTreeExpandoClosed {
	background-image: url(images/treeExpand_plus_rtl.gif);
}
.dijitRtl .mdwm .dijitTreeContainer .dijitTreeExpandoLeaf {
	background-image: url(images/treeExpand_leaf_rtl.gif);
}
.dijitRtl .mdwm .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: -7px 0px;
}
.dijitRtl .mdwm .dijitTab {
	margin-right:auto;
	margin-left:4px;		
	-moz-box-orient:horizontal;
	text-align: right;
}
.dijitRtl .mdwm .dijitTabContainerTopStrip,
.dijitRtl .mdwm .dijitTabContainerBottomStrip {
	padding-right: 3px;
	padding-left: 0px;
}
.dijitRtl .mdwm .dijitTabInnerDiv {
	padding:6px 9px 5px 8px;
}
.dijitRtl .mdwm .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .mdwm .dijitTabContainerLeft-tabs {
	margin-left: 1px !important;
}
.dj_ie-rtl .mdwm .dijitTabContainerRight-tabs {
	margin-right: 1px !important;
}
.dijitRtl .mdwm .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .mdwm .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}
.dj_ie .mdwm .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
.dijitRtl .mdwm .dijitSliderProgressBarH,
.dijitRtl .mdwm .dijitSliderRemainingBarH,
.dijitRtl .mdwm .dijitSliderLeftBumper,
.dijitRtl .mdwm .dijitSliderRightBumper,
.dijitRtl .mdwm .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .mdwm .dijitSliderProgressBarV,
.dijitRtl .mdwm .dijitSliderRemainingBarV,
.dijitRtl .mdwm .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .mdwm .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .mdwm .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .mdwm .dijitSliderIncrementIconH {
	background-position: -7px 0px;
}
.dijitRtl .mdwm .dijitSliderDecrementIconH {
	background-position: -14px 0px;
}


.mdwm .CustomTitlePaneTitleBar {
    height:24px;
    background-color: #A4936E;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFFFFF;
    font-weight:bold;
    padding-left:5px;
    padding-top:3px;
    vertical-align:bottom;
}
.mdwm .Paginator {
    border: 1px solid #6E828C;
    background-color:#F9F9F0;
    padding:2px;
    height:24px;
}
.mdwm .Paginator .firstPageIcon {
    background-image: url('images/pagination_first.gif');
    cursor:pointer;
    width:23px; height:20px;
}
.mdwm .Paginator .firstPageIcon_Disabled {
    background-image: url('images/pagination_first_dis.gif');
    width:23px; height:20px;
    cursor:normal;
}
.mdwm .Paginator .prevPageIcon {
    background-image: url('images/pagination_prev.gif');
    cursor:pointer;
    width:23px; height:20px;
}
.mdwm .Paginator .prevPageIcon_Disabled {
    background-image: url('images/pagination_prev_dis.gif');
    width:23px; height:20px;
    cursor:normal;
}
.mdwm .Paginator .nextPageIcon {
    background-image: url('images/pagination_next.gif');
    cursor:pointer;
    width:23px; height:20px;
}
.mdwm .Paginator .nextPageIcon_Disabled {
    background-image: url('images/pagination_next_dis.gif');
    cursor:normal;
    width:23px; height:20px;
}
.mdwm .Paginator .lastPageIcon {
    background-image: url('images/pagination_last.gif');
    cursor:pointer;
    width:23px; height:20px;
}
.mdwm .Paginator .lastPageIcon_Disabled {
    background-image: url('images/pagination_last_dis.gif');
    cursor:normal;
    width:23px; height:20px;
}
.mdwm .Paginator .infoDisplay {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:normal;
    padding-left:5px;
}
.mdwm .Paginator .pageGoToButton{
    height:23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}
.mdwm .Paginator .pageNumberTextField {
    height:14px;width:24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;  
}
.mdwm .Paginator .TotalPageInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#000000;
    font-weight:normal;
    padding-right:5px;
}
