[SBYNTAG:DEFINE:objname,normalization(),standardization(),phoneticization(),matching()]
<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema/mefa.xsd">
	<StandardizationConfig module-name="Standardization" parser-class="com.sun.mdm.index.configurator.impl.standardization.StandardizationConfiguration">
		<standardize-system-object>
			<system-object-name>[sbyntag:objname]</system-object-name>
			<structures-to-normalize>
[SBYNTAG:REP-BEGIN]    
[sbyntag:normalization()]
[SBYNTAG:REP-END]
			</structures-to-normalize>
			<free-form-texts-to-standardize>
[SBYNTAG:REP-BEGIN]    
[sbyntag:standardization()]
[SBYNTAG:REP-END]
			</free-form-texts-to-standardize>
			<phoneticize-fields>
[SBYNTAG:REP-BEGIN]    
[sbyntag:phoneticization()]
[SBYNTAG:REP-END]
			</phoneticize-fields>
		</standardize-system-object>
	</StandardizationConfig>
	<MatchingConfig module-name="Matching" parser-class="com.sun.mdm.index.configurator.impl.matching.MatchingConfiguration">
		<match-system-object>
			<object-name>[sbyntag:objname]</object-name>
			<match-columns>
[SBYNTAG:REP-BEGIN]    
[sbyntag:matching()]
[SBYNTAG:REP-END]
			</match-columns>
		</match-system-object>
	</MatchingConfig>
	<MEFAConfig module-name="MEFA" parser-class="com.sun.mdm.index.configurator.impl.MEFAConfiguration">
		<block-picker>
			<class-name>com.sun.mdm.index.matching.impl.PickAllBlocksAtOnce</class-name>
		</block-picker>
		<pass-controller>
			<class-name>com.sun.mdm.index.matching.impl.PassAllBlocks</class-name>
		</pass-controller>
		<standardizer-api>
			<class-name>com.sun.mdm.index.matching.adapter.IntegrityStandardizerAdapter</class-name>
		</standardizer-api>
		<standardizer-config>
			<class-name>com.sun.mdm.index.matching.adapter.IntegrityStandardizerAdapterConfig</class-name>
		</standardizer-config>
		<matcher-api>
			<class-name>com.sun.mdm.index.matching.adapter.IntegrityMatcherAdapter</class-name>
		</matcher-api>
		<matcher-config>
			<class-name>com.sun.mdm.index.matching.adapter.IntegrityMatcherAdapterConfig</class-name>
		</matcher-config>
	</MEFAConfig>
	<PhoneticEncodersConfig module-name="PhoneticEncoders" parser-class="com.sun.mdm.index.configurator.impl.PhoneticEncodersConfig">
		<encoder>
			<encoding-type>NYSIIS</encoding-type>
			<encoder-implementation-class>com.sun.mdm.index.phonetic.impl.Nysiis</encoder-implementation-class>
		</encoder>
		<encoder>
			<encoding-type>Soundex</encoding-type>
			<encoder-implementation-class>com.sun.mdm.index.phonetic.impl.Soundex</encoder-implementation-class>
		</encoder>
		<encoder>
			<encoding-type>RefinedSoundex</encoding-type>
			<encoder-implementation-class>com.sun.mdm.index.phonetic.impl.RefinedSoundex</encoder-implementation-class>
		</encoder>
		<encoder>
			<encoding-type>Metaphone</encoding-type>
			<encoder-implementation-class>com.sun.mdm.index.phonetic.impl.Metaphone</encoder-implementation-class>
		</encoder>
		<encoder>
			<encoding-type>DoubleMetaphone</encoding-type>
			<encoder-implementation-class>com.sun.mdm.index.phonetic.impl.DoubleMetaphone</encoder-implementation-class>
		</encoder>
	</PhoneticEncodersConfig>
</Configuration>
